html {
	font-size: 20px;
	outline: none;
}

button:active,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0 !important;
}

a:active,
a:focus {
	outline: none;
}

input,
textarea {
	outline: none;
}

input:active,
textarea:active {
	outline: none;
}

:focus {
	outline: none;
}

textarea {
	resize: none;
}


/* ================= Sidebar ================== */

.sidebar {
	display: flex;
	flex-direction: column;
	float: left;
	width: 268px;
	height: 100vh;
	padding-right:0px!important;
	background-color: #ffffff;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
}

.sidebar__logo {
	padding: 0;
	font-family: 'HelveticaNeueCyr';
	font-size: 40px;
	line-height: 48px;
	padding-top: 22px;
	margin-bottom: 30px;
	margin-left: 40px;
}

.sidebar__nav {
	margin-bottom: 195px;
	width: 100%;
}

.sidebar__item{
	width: 100%;
	height: 44px;
	-webkit-transition: ease .5s;
	-moz-transition: ease .5s;
	-o-transition: ease .5s;
	transition: ease .5s;
}

li:last-child {
	margin-bottom: 0px!important;
}

.sidebar__item a {
	padding:13px 72px 13px 42px;
	display: block;
	width: 238px;
	font-family: 'Museo Sans Cyrl 500';
	font-weight: 300;
	font-style: normal;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #333333;
	text-decoration: none;
	-webkit-transition: ease .25s;
	-moz-transition: ease .25s;
	-o-transition: ease .25s;
	transition: ease .25s;
}

.sidebar__nav .active {
	background-color: #F2C94C;
	-webkit-transition: ease .1s;
	-moz-transition: ease .1s;
	-o-transition: ease .1s;
	transition: ease .1s;
}

.sidebar__nav .active a {
	font-family: 'Museo Sans Cyrl 700';
	font-size: 24px;
}

.sidebar__item:hover {
	background-color: #F2C94C;
	cursor: pointer;
	
}

.sidebar__item:hover a {
	font-family: 'Museo Sans Cyrl 700';
	font-size: 24px;
}
.sidebar__form{
	width: 188px;
	margin:0 auto 65px;
	position: relative;
	height: 26px;
}
.sidebar__input {
    width: 188px;
	border: none;
	border-bottom: 1px solid #333333;
	font-family: 'Museo Sans Cyrl 500';
	font-size: 14px;
	color: rgba(21, 20, 57, 0.4);
	margin-bottom: 65px;
	outline: none;
	z-index: 1;
	padding-right: 30px;
}
.sidebar__form button{
  position: absolute; 
  top: 0px;
  right: 0px;
  padding-right:0;
  width: 26px;
  height: 26px;
  border: none;
  background: transparent;
  cursor: pointer;}

.sidebar__input :before {
	position: absolute;
	top: 0;
	right: 0;
	content: "h";
	background: url(../img/search.png) center center no-repeat;
	width: 100px;
	height: 100px;
}

.sidebar__button {
	height: 36px;
	max-width: 190px;
	width: 100%;
	margin: 0 40px;
	background: #333333;
	color: #fff;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 144px;
	border-radius: 0;
	outline: none;
	cursor: pointer;
}
.sidebar__button:focus {
	box-shadow: none;
}

.sidebar__socials {
	width: 161px;
	margin: 0 auto 0 40px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 78px;
}
.instagram{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color:#DADADA;
	color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.instagram:hover{
	text-decoration:none;
	outline:none;
	color: #fff;

}

footer p {
	font-family: 'HelveticaNeueCyr';
	padding: 0 40px;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	/*color: rgba(21, 20, 57, 0.4);*/
	color:#6c757d;;
}


/* ================= Main ================== */

.main-wrapper {
	width: calc(100% - 268px);
	float: right;
}

.startscreen {
	height: 710px!important;
	background: url("../img/Big Pict.png") center center no-repeat;
	background-size: cover;
	padding-bottom:100px;
}

.header {
	padding: 30px 30px 0;
	height: 22px;
}

.header__phone {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	float: left;
}

.header__phone:hover {
	color: #F2C94C;
	-webkit-transition: ease .2s;
	-moz-transition: ease .2s;
	-o-transition: ease .2s;
	transition: ease .2s;
	text-decoration: none;
}

.header__email {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #F2C94C;
	float: left;
	margin-left: 38px;
}

.header__email:hover {
	color: #fff;
	-webkit-transition: ease .2s;
	-moz-transition: ease .2s;
	-o-transition: ease .2s;
	transition: ease .2s;
	text-decoration: none;
}

.header__send {
	font-family: 'HelveticaNeueCyr';
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
	float: right;
}

.header__send:hover {
	color: #F2C94C;
	-webkit-transition: ease .1s;
	-moz-transition: ease .1s;
	-o-transition: ease .1s;
	transition: ease .1s;
	text-decoration: none;
}

.hero {
	margin-top: 100px;
    width: 100%;
	flex-direction: column;
	justify-content: center;
}
.portfolio-main-wrapper .hero {
	margin-top:0;
	margin-bottom:10px;
}

.hero h2 {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 22px;
	text-align: center;
	color: #fff;
	margin: 0;
}

.hero h1 {
	font-family: 'Museo Sans Cyrl 900';
	font-style: normal;
	font-weight: 300;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	margin-top: 45px;
	font-style: normal;
	font-weight: normal;
	font-size: 58px;
	line-height: 70px;
	text-align: center;
	color: #FFFFFF;
}
.portfolio-main-wrapper{
	position: relative;
}
.hero .hero__button {
	background: #F2C94C;
	width: 170px;
	height: 60px;
	border: none;
	margin: 60px auto 0;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: #2F3441;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.hero .hero__button:hover {
	color: #F2C94C;
	background-color: #fff;
	-webkit-transition: ease .2s;
	-moz-transition: ease .2s;
	-o-transition: ease .2s;
	transition: ease .2s;
	text-decoration: none;
}

.portfolio-main-wrapper .header{
	width: 100%;
	position:absolute;
	top: 0px;
	z-index: 1040;
	background-color: transparent;
}

/*.portfolio-main-wrapper{

	position: relative;
}*/



.hero a {
	font-family: 'HelveticaNeueCyr';
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
	text-align: center;
	margin: 80px auto 0;
	text-decoration: none;
}

.hero-slider {
	width: 100%;
	content:'';	
	color:#fff;
}
.hero__slide{
	padding: 100px 200px;
}
.hero .slick-dots li{
	width: 8px;
	height: 8px;
	margin:0 12px!important;
}

.hero .slick-dots li button {
	width: 8px;
	height: 8px;
}
.hero .slick-dots li button:before {
	content:''!important;
	width: 12px!important;
	height: 12px!important;
	top:-1px!important;
	left:-1px!important;
}
.hero .slick-dots li{
	background-color: #fff;
	border-radius: 50%;
	content:'';	
}

}
.hero .slick-dots li button:before{

}
.hero .slick-dots li.slick-active button{
	width: 12px!important;
	height: 12px!important;
}
.hero .slick-dots li.slick-active button:before {
	background-color: #fff;
	opacity: 1!important;
	border-radius: 50%;
	content:'';	
    color:#fff;
}




.hero-slider h1 {
	font-family: 'Museo Sans Cyrl 700';
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	line-height: 70px;
	margin-left: 0px;
}

.hero-slider h2 {
	padding-left: 1px;
	margin-top: 20px;
	font-family: 'Museo Sans Cyrl 300';
	max-width: 730px;
	margin-right: auto;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
}

.hero-slider .hero__button {
	margin: 50px auto 0 0;
}

.right-arrow {
	position: absolute;
	top: 40%;
	right: 100px;
	z-index: 1050;
}

.left-arrow {
	position: absolute;
	top: 40%;
	left: 100px;
	z-index: 1050;
}

.services {
	text-align: left;
}

.services__header {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 52px;
	text-align: center;
	letter-spacing: -0.4px;
	color: #2F3441;
	margin-top: 54px;
	margin-bottom: 30px;
}

.services h3 {
	font-family: 'Museo Sans Cyrl 500';
	width: 100%;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #3B3A38;
	text-align: left;
	margin: 50px auto 34px;
}

.services__item {
	margin: 30px 0;
}

.services .row {
	margin-right: 0px;
	margin-left: 0px;
	padding: 0 40px 0 40px;
}

.services__item p {
	font-family: 'HelveticaNeueCyr';
	font-weight: 300;
	width: 100%;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	color: rgba(21, 20, 57, 0.4);
	margin-bottom: 0!important;
	text-align: left!important;
}
.services__modal-page{
	background-color:#fff;
}
.services__item img {
	width: 60px;
}

.portfolio {
	text-align: center;
}

.portfolio-link {
	display: none;
	width: 210px;
	height: 40px;
	background-color: #2F3441;
	color: #fff;
	text-decoration: none;
	outline: none;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	padding: 8px 20px;
	margin: 40px auto 0;
}

.portfolio-link:hover {
	color: #fff;
	text-decoration: none;
	outline: none;
}
.portfolio-modal{
	height: 100vh;
	background-color:#fff;
}
.services .adaptive-box {
	margin-top: 30px;
}

.portfolio .adaptive-box {
	margin: 0 40px;
}

.portfolio .row {
	margin: 0;
}

.portfolio div {
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 0;
}

.lg-img-adapt {
	padding: 0 15px!important;
	justify-content: center;
	display: flex;
}

.lg-img-adapt img {
	height: auto;
	width: 100%;
	max-width: 540px;
	margin: 0 auto;
}

.md-img-adapt {
	padding: 0 15px!important;
	justify-content: center;
	display: flex;
}

.md-img-adapt img {
	height: auto;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
}

.sm-img-adapt {
	padding: 0 5px!important;
}

.sm-img-adapt img {
	height: auto;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	cursor:pointer;
}

.sm-img-adapt img:last-child {
	margin-top: 10px;
}

.xs-img-adapt {
	padding: 0 15px!important;
	justify-content: center;
	display: flex;
}

.xs-img-adapt img {
	height: auto;
	width: calc(50% - 7.5px);
	max-width: 170px;
	margin: 0 auto;
}

.xs-img-adapt :last-child {
	margin-left: 15px;
}


/* ================= Who we are ================== */

.who-we-are {
	text-align: center;
	margin-top: 35px;
}

.who-we-are .adaptive-box {
	margin: 0 40px;
	padding: 0 15px;
}

.who-we-are h2 {
	font-family: 'Museo Sans Cyrl 900';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 22px;
	color: #2F3441;
	text-align: left;
	margin-bottom: 40px;
}

.who-we-are p {
	font-family: 'Museo Sans Cyrl 500';
	width: 100%;
	margin-right: auto;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	color: rgba(21, 20, 57, 0.66);
	margin-top: 15px;
}

/*.who-we-are button {
	display: flex;
    justify-content: center;
	margin-left: 10px;
	width: 147px;
    height: 40px;
	background-color: #F2C94C;
	border: none;
	cursor: pointer;
	outline: none;
}
.who-we-are .success{
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #F2C94C;
	border: none;
}

.who-we-are form {
	width: 290px;
	margin-right: 0!important;
}

.who-we-are input {
	height: 50px;
	width: 220px;
	border: 2px solid #EBEAED;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	padding-left: 25px;
}

.subscribe {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	color: rgba(21, 20, 57, 0.4);
	mix-blend-mode: normal;
	margin-bottom: 18px;
}
*/

/* ================= Advantages ================== */

.advantages {
	margin-top: 60px;
	text-align: center;
	padding-bottom:40px;
}

.advantages .adaptive-box {
	margin: 0 40px;
	padding: 0 15px;
}

.adaptive-box {
	margin: 0 auto;
}



.advantages h2 {
	font-family: 'Museo Sans Cyrl 900';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 22px;
	color: #2F3441;
	text-align: left;
	margin-bottom: 40px;
}

.advantages h3 {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #3B3A38;
	text-align: left;
}

.advantages__paragraph {
	font-family: 'Museo Sans Cyrl 500';
	font-size: 14px;
	line-height: 20px;
	color: rgba(21, 20, 57, 0.66);
	text-align: left;
	margin-bottom: 64px;
}

.right_block_header {
	margin-top: 62px;
	text-align: left;
	margin-bottom: 12px;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgba(21, 20, 57, 0.4);
}

.advantages__paragraph_right {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #3B3A38;
	text-align: left;
}

.advatages__button {
	width: 147px;
	height: 40px;
	border-radius: 0;
	border: none;
	background-color: #2F3441;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff!important;
	display: flex;
	justify-content: center;
}


/* ================= Team ================== */

.team {
	text-align: center;
	margin-bottom: 32px;
}

.collage {
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
}

.team img {
	height: auto;
	width: 100%;
	max-width: 540px;
}

.team .row {
	margin-right: 0px;
	margin-left: 0px;
}

.team .row div {
	margin-top: 20px;
}

.block-header {
	font-family: 'Museo Sans Cyrl 900';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 52px;
	letter-spacing: -0.4px;
	color: #2F3441;
	text-align: left;
	margin-left: 15px;
	margin-bottom: 0;
}

.callback {
	text-align: center;
}

.main-form {
	background-color: #3B3A38;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 80px 30px 120px 30px;
}

.main-form__header {
	font-family: 'Museo Sans Cyrl 900';
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 52px;
	text-align: center;
	letter-spacing: -0.4px;
	color: #fff;
}


.slick-dots {
	position: inherit!important;
}
.portfolio-main-wrapper .slick-dots {
	bottom: 50px;
}
.portfolio-main-wrapper .modal .slick-dots {
	bottom: -25px;
}
.main-form input {
	max-width: 510px;
	width: 100%;
	margin: 0 auto;
	font-family: 'Museo Sans Cyrl 500';
	height: 60px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	padding-left: 20px;
	background-color: transparent;
	border: 1px solid #EBEAED;
	opacity: 0.2;
	margin-top: 20px;
}

.main-form input::-moz-placeholder {
	color: #EBEAED;
}

.main-form input::-webkit-input-placeholder {
	color: #EBEAED;
}

textarea::-moz-placeholder {
	color: #EBEAED;
}

textarea::-webkit-input-placeholder {
	color: #EBEAED;
}

.main-form textarea {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 600;
	max-width: 510px;
	width: 100%;
	margin: 0 auto;
	margin-top: 34px;
	height: 300px;
	max-height: 300px;
	padding-left: 20px;
	background-color: transparent;
	border: 1px solid #EBEAED;
	opacity: 0.2;
	margin-top: 20px;
}


/* ================= Modal form ================== */

.modal-form textarea {
	border-color: #3B3A38;
	opacity: 0.6;
	height: 150px;
	max-height: 150px;
	min-height: 150px;
	font-weight: 500;
	padding-top: 15px;
	margin-top: 20p;
}

.modal-header {
	position: relative;
}

.modal-form-header {
	color: #3B3A38;
}

.cross {
	line-height: 10px;
	position: absolute;
	top: 0;
	right: 0;
	height: 10px;
}

.modal-form input::-moz-placeholder {
	color: #343a40!important;
}

.modal-form input::-webkit-input-placeholder {
	color: #343a40!important;
}

.modal-form textarea::-moz-placeholder {
	color: #343a40!important;
}

.modal-form textarea::-webkit-input-placeholder {
	color: #343a40!important;
}

.modal-form input {
	color: #3B3A38;
	border-color: #3B3A38;
	opacity: 0.6;
	margin-top: 20px;
	font-weight: 500;
}

.modal-form {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px 30px 20px 30px;
}

.modal-header {
	border-bottom: none;
	margin-bottom: 10px;
	padding:0 30px;
}

.modal-header .close {
	padding-right: none;
	padding: 0;
}

.modal-form button[type='submit'] {
	display: block;
	margin: 0 auto;
}

.modal .button-block {
	max-width: 100%;
}

.main-form button[type='submit'] {
	width: 210px;
	height: 60px;
	border: none;
	background-color: #F2C94C;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #2F3441;
	cursor: pointer;
}

.button-block {
	margin: 40px auto 0;
	text-align: left;
	max-width: 510px;
}


/* ================= Map on main page ================== */

.map {
	position: relative;
	padding-left: 0px;
	min-height: 500px;
	padding-right: 30px;
}

#map {
	z-index: 0;
	width: 100%;
	height: 100%;
}

.location {
	position: absolute;
	top: 70px;
	left: 32px;
	max-width: 320px;
	width: 100%;
	margin-right: 15px;
	height: 250px;
	background: rgba(255, 255, 255, 0.6);
	mix-blend-mode: normal;
	border-radius: 30px;
	font-family: 'Museo Sans Cyrl 500';
	text-align: left;
	padding-left: 30px;
	z-index: 1;
}
.blocker{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.hide{
	display: none;
}
.location h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #2F3441;
	margin: 15px 0 45px;
}

.location__address {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 34px;
	letter-spacing: -0.4px;
	color: #2F3441;
	max-width: 420px;
}

.location__phone {
	margin-top: 22px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: #1E0E62;
	opacity: 0.6;
}

.callback .row {
	margin-right: 0;
}

#ok {
	display: none;
}

.header__logo {
	display: none;
}

.menu-btn {
	display: inline-block;
	padding: 25px;
	background-color: transparent;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	
}


/* ================= Burger-menu button ================== */

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 2px;
	background-color: #222;
}

.menu-btn span::before,
.menu-btn span::after {
	content: '';
	display: block;
	transition: 0.2s;
}

.menu-btn span::before {
	transform: translateY(-7px);
}

.menu-btn span::after {
	transform: translateY(7px);
}

.menu-btn_active span:before {
	transform: rotate(-45deg);
}

.menu-btn_active span:after {
	transform: rotate(45deg);
}

.menu-btn_active span {
	height: 0;
}

.menu {
	display: none;
	position: fixed;
	top: 15px;
	right: 15px;
	cursor: pointer;
	width: 50px;
	height: 50px;
}


/* ================= Gallery in portfolio ================== */

.gallery {
	padding: 0 40px;
	margin: 40px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
	grid-gap: 50px;
}

.cases__item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}
.cases__item:hover{
	transform: scale(1.025);
}
.cases__item {
    transition: box-shadow .3s ease-in-out;
    display: block;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
	transition: ease .3s;
}
.cases-item {
    position: relative;
    height: 100%;
    text-decoration: none;
    display: block;}

.filter {
	width: 100%;
	padding: 0 40px;
}

.filter__button {
	margin:5px 15px 5px 0;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0 15px;
	height: 36px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Museo Sans Cyrl 500';
	color: #2F3441;
	cursor: pointer;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
	transition: ease .3s;
}

.filter__button:hover {
	background-color: #F2C94C;
	border: 1px solid #F2C94C;
}

.filter .active {
	background-color: #F2C94C;
	border: 1px solid #F2C94C;
	font-family: 'Museo Sans Cyrl 900';
}

.portfolio-footer p {
	text-align: center;
	margin: 100px auto 46px;
	font-family: 'HelveticaNeueCyr';
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}




@media (min-width: 1200px){
	.cases__item {
    height: 240px;
    }
.cases__item:nth-child(12n+1) {
    grid-area: 1/1/2/3;
    }
    .cases__item:nth-child(12n+2) {
    grid-area: 1/3/2/4;
    }
    .cases__item:nth-child(12n+3) {
    grid-area: 2/1/4/2;
    }
    .cases__item:nth-child(12n+4) {
    grid-area: 2/2/3/3;
	}
	.cases__item:nth-child(12n+5) {
   grid-area: 2/3/3/4;
    }
    .cases__item:nth-child(12n+6) {
    grid-area: 3/2/4/3;
	}
	.cases__item:nth-child(12n+7) {
    grid-area: 3/3/4/4;
	}
	.cases__item:nth-child(12n+8) {
    grid-area: 4/1/5/2;
    }
    .cases__item:nth-child(12n+9) {
    grid-area: 4/2/6/4;
	}
	.cases__item:nth-child(12n+10) {
    grid-area: 5/1/7/2;
    }
    .cases__item:nth-child(12n+10) {
    grid-area: 5/1/7/2;
    }
    .cases__item:nth-child(12n+11) {
    grid-area: 6/2/7/3;
    }
    .cases__item:nth-child(12n+12) {
    grid-area: 6/3/7/4;
    }
    .cases__item:nth-child(12n+1),
 	.cases__item:nth-child(12n+2),
  	.cases__item:nth-child(12n+3),
   	.cases__item:nth-child(12n+9),
   	.cases__item:nth-child(12n+10) {
    height: 530px;
	} 

}





@media (min-width: 768px){
.cases__item:nth-child(12n+1){
    grid-column: 1;
    grid-column-end: 3;
}
}




/* ================= Contacts ================== */

.contacts {
	text-align: center;
}

.contacts .row {
	margin: 0;
	background-color: #FFFFFF;
}

.contacts__map {
	min-height: 500px;
	padding: 0;
	padding-right:1px;
	position: relative;
}
.contacts__map .location{display: none}

.contacts__block {
	padding: 25px 40px 96px;
	max-width: 664px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

.contacts__block h1 {
	font-family: 'Museo Sans Cyrl 900';
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 70px;
	color: #2F3441;
}

.contacts__block h2 {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 48px;
	color: #000000;
	margin-top: 35px;
	margin-bottom: 0;
}

.contacts__block h3 {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	margin-top: 25px;
	margin-bottom: 0;
}

.contacts__block p {
	margin-top: 30px;
	max-width: 340px;
	width: 100%;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 0;
}

.contacts__block a {
	color: #F2C94C;
	outline: none;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}

.contacts__label {
	
	margin-bottom: 0;
	display: inline-block;
	font-family: 'Museo Sans Cyrl 500';
	width: 100%;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #3B3A38;
}

.contacts__input {
	margin-top: 0px;
	margin-bottom:21px;
	max-width: 460px;
	width: 100%;
	height: 48px;
	border: 1px solid #BDBDBD;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	padding-left: 16px;
}


#select {
	margin-top: 21px;
	position: relative;
	max-width: 460px;
	width: 100%;

	border: 1px solid #BDBDBD;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #3B3A38;
	padding-left: 16px;
	padding-right: 6px;
	  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;       /* remove arrow FF     */
}




.contacts__textarea {
	margin-top: 21px;
	max-width: 460px;
	width: 100%;
	border: 1px solid #BDBDBD;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #3B3A38;
	padding-left: 16px;
	padding-top: 15px;
	height: 133px;
	resize: none;
}

.contacts__input::-moz-placeholder {
	color: color: #BDBDBD;
	!important;
}

.contacts__input::-webkit-input-placeholder {
	color: #BDBDBD;
	!important;
}

.contacts__textarea::-moz-placeholder {
	color: #BDBDBD!important;
}

.contacts__textarea::-webkit-input-placeholder {
	color: #BDBDBD!important;
}

.contacts__button {
	text-align: left;
	max-width: 100%;
}

.contacts__button button {
	max-width: 210px;
	width: 100%;
	height: 60px;
	border: none;
	background-color: #F2C94C;
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #2F3441;
	cursor: pointer;
	margin-top: 24px;
}


/* ================= Modal window in Portfolio================== */

.modal-page {
	width: 100%;
	height: 100%;
	padding-right: 0!important;
}

.modal-page .sidebar {
	min-height: 100vh;
	height:100%;
	padding-right: 0!important;
}

.modal-page .modal-dialog {
	margin: 0;
	max-width: 100%;
}
.services__modal-page .main-wrapper{
	background: rgba(255, 255, 255, 0.9);
}
.modal__header {
	background: #F1F5F6;
	padding: 44px 117px;
}
.modal__header p{
	font-size: 18px;
    line-height: 24px;
    color: #000000;
    max-width: 690px;
    width: 100%;
    margin-right: auto;

}
.modal-page .modal-content {
	display: block;
	border: none;
}

.modal-page {
	height: 100vh;
}

.modal-page .close span {
	position: absolute;
	top: 35px;
	right: 45px;
	font-size: 48px;
}


}
.modal-page .main-wrapper {
	min-height: 100vh;
	background-color: #fff;
}
.scroller {
	width: 100%;
	background-color: #F1F5F6;
	background: linear-gradient(to bottom, #F1F5F6, #fff);
	padding-bottom: 50px;
	height: 600px;
}
.scroller__slide {
	max-width: 1140px;
	width: 100%;
	max-height: 540px;
	height: 100%;
	margin-left: 15px;
}
.slide-1 img {
	height: 100%;
	width: 100%;
}
.scroller .slick-dots li:last-child {
	margin-right: 0;
}
.scroller .slick-dots li.slick-active {
	background: rgb(47, 52, 65);
	border-radius: 4px;
}
.scroller .slick-dots li button {
	display: none !important;
}
.scroller .slick-dots {
	padding: 0;
}
.scroller .slick-dots li {
	position: relative;
	display: inline-block;
	max-width: 215px;
	width: 20%;
	height: 8px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-color: #EAEBEC;
	background-size: 100% 100%;
	transition: 1s ease-out 0s;
	background-image: -webkit-gradient(linear, left, right, color-stop(1, #EAEBEC), color-stop(1, transparent));
	background-image: -o-linear-gradient(left, #EAEBEC 100%, transparent);
	background-image: -moz-linear-gradient(left, #EAEBEC 100%, transparent);
	background-image: -webkit-linear-gradient(left, #EAEBEC 100%, transparent);
	background-image: linear-gradient(to right, #EAEBEC 100%, transparent 100%);
	background-repeat: no-repeat;
}
.scroller .slick-dots li:last-child {
	margin-right: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.scroller .slick-dots li:first-child {
	margin-right: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.scroller .slick-dots li button {
	display: none !important;
}
.scroller .left-arrow {
	left: 40px;
}
.scroller .right-arrow {
	right: 40px;
}
.scroller .slick-dots li.slick-active {
	-webkit-animation: right 3s ease-in-out forwards;
	-moz-animation: right 3s ease-in-out forwards;
	-o-animation: right 3s ease-in-out forwards;
	animation: right 3s ease-in-out forwards;
}
@keyframes right {
	0% {
		background-size: 0% 100%;
	}
	
	100% {
		background-size: 100% 100%;
	}
}
.other-apps {
	padding: 44px 117px 0px;
}
.other-apps h2 {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 28px;
	color: #000000;
}
.other-apps p {
	font-family: 'Museo Sans Cyrl 500';
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
}
.modal__header h1 {
	font-weight: bold;
	font-size: 48px;
	line-height: 70px;
	color: #2F3441;
}
.modal__header h2 {
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
}
/* ================= SERVICES modal================== */
.services__modal-page .main-wrapper{
	min-height: 100vh;
	background-color: #fff;
}
.choose-service{
	padding:0 40px;
}
.service{
	margin-top:60px;
	text-align:left;
	color: #000000;
}

.services__modal-page .modal__header h2{
font-size: 24px;
line-height: 28px;
color: #000000;
margin-bottom:30px;
}

.service h2{
	font-family: 'Museo Sans Cyrl 900';
	font-weight: bold;
font-size: 32px;
line-height: 28px;
margin-bottom:25px;
}
.description{
	font-size: 16px;
    line-height: 24px;
    max-width: 350px;
    width: 100%;
    margin-right: auto;
}
.service .sidebar__button{
	margin:25px auto 0 0;
}
.cost{
	display: block;
	font-family: 'Museo Sans Cyrl 500';
font-size: 24px;
line-height: 24px;
color: #F2C94C;
}
.cost span{
	font-family: 'Museo Sans Cyrl 900';
}
.time{
	position: relative;
	margin-top:15px;
	padding-top: 30px;
	font-family: 'Museo Sans Cyrl 500';
	font-size: 32px;
    line-height: 28px;
}
.time span{
	font-family: 'Museo Sans Cyrl 900';
	font-size: 96px;
line-height: 96px;
color: #F2C94C;
margin-right: 10px;
}
.time:before{
	content: "от";
	position: absolute;
	top:0;
	left:10px;
	font-size: 14px;
}
.


/* ================= SERVICES ================== */
.services-wrapper .startscreen {
	height: 710px;
	background: url("../img/Big Pict.png") center center no-repeat;
	background-size: cover;
}
.services-hero {
	margin-top: 190px;
	text-align: left;
	padding-left: 120px;
	justify-content: flex-start;
	flex-direction: column;
}
.services-hero h2 {
	font-family: 'Museo Sans Cyrl 500';
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	text-align: left;
	color: #fff;
	margin: 0;
}
.services-hero h1 {
	font-family: 'Museo Sans Cyrl 700';
	font-style: normal;
	font-weight: bold;
	margin-top: 45px;
	font-style: normal;
	font-weight: normal;
	font-size: 58px;
	line-height: 70px;
	text-align: left;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 20px;
}
.services {
	text-align: left;
	font-family: 'Museo Sans Cyrl 500';
	background-color: #fff;
	padding-top: 10px;
}
.services h2 {
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 20px;
}
.services p {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 20px;
	max-width: 350px;
	margin-right: auto;
}
.services a {
	font-weight: 800;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #F2C94C;
	text-decoration: none;
	padding-right: 15px;
}
.services a:after {
	content: '';
	position: absolute;
	top: 5px;
	right: 0px;
	display: block;
	width: 10px;
	height: 10px;
	background: url(../img/arrow-link.png) center center no-repeat;
}
.services__block {
	margin-top: 40px;
	margin-bottom: 54px;
}
.pre-testimonials {
	background-color: #fff;
}
.pre-testimonials h2 {
	font-family: 'Museo Sans Cyrl 500';
	font-size: 56px;
	line-height: 72px;
	text-align: center;
	max-width: 730px;
	width: 100%;
	margin: 0 auto;
	color: #000000;
}
.pre-testimonials span {
	font-family: 'Museo Sans Cyrl 900';
}
.pre-testimonials p {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #000000;
	max-width: 940px;
	padding: 0 40px;
	width: 100%;
	margin: 35px auto 0;
}
.testimonials {
	margin: 64px 0 35px;
	padding: 0 40px;
}
.testimonials .row {
	margin: 0;
}
.testimonials h2 {
	font-family: 'HelveticaNeueCyr';
	font-size: 32px;
	line-height: 28px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}
.testimonials__person {
	display: flex;
	flex-direction: row;
}
.testimonials__person img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.testimonials_username {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	text-align: left;
}
.testimonials_username h3 {
	font-family: 'Museo Sans Cyrl 500';
	font-weight: 800;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
}
.testimonials_username p {
	font-family: 'Museo Sans Cyrl 300';
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	opacity: 0.33;
}
.testimonials__paragraph {
	font-family: 'Museo Sans Cyrl 500';
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	max-width: 450px;
	width: 100%;
	margin-right: auto;
}

/* ================= Media ================== */
@media screen and (max-width: 1420px) {
	.map {
		padding-right: 1px;
	}
	
	.services .row {
		padding: 0 30px 0 30px;
	}
	
	.right-arrow {
		position: absolute;
		top: 40%;
		right: 40px;
	}
	
	.left-arrow {
		position: absolute;
		top: 40%;
		left: 40px;
	}
}

@media screen and (max-width: 1366px) {
   .hero__slide{
   	padding:100px 100px;
   }
   .modal .sidebar{display:none;}
   .modal .main-wrapper{
   	width: 100%;
   }

  .who-we-are .adaptive-box{
  	margin-right: 25px;
  }
  .advantages .adaptive-box{
  	margin-right: 25px;
  }
}
@media screen and (max-width: 1200px) {

	.contacts__block{
		padding:25px 40px 96px;
	}
	.who-we-are .adaptive-box{
  	margin: 0 40px;
  }
  .advantages .adaptive-box{
  	margin: 0 40px;
  }

	
	.gallery {
		grid-gap: 25px;
		
	}
	
	.services .row {}
	
	.right_block_header {
		margin-top: 40px;
	}
	
	.advatages__button {
		margin-bottom: 60px;
	}
	
	.advantages h2:last-child {
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 992px) {
	.contacts__map .location{
		display: block;
	    top:350px;}
	.contacts__map{
		height: 640px;
	}

	.service{
		max-width: 350px;
		margin:60px auto 0;
	}
	.pre-testimonials h2 {
		font-size: 46px;
		line-height: 52px;
	}
	
	.services-hero {
		padding-left: 40px;
	}
	
	.header {
		font-size: 14px;
		padding: 0 15px;
	}
	
	.hero h2 {
		font-size: 26px;
	}
	
	.hero h1 {
		font-size: 48px;
		max-width: 550px;
	}
	
	.who-we-are {
		padding: 0 52px 0 82px;
	}
	
	.advantages {
		padding: 0 52px 40px 82px;
	}
	
	.block-header {
		margin-left: 82px;
	}
}

@media screen and (max-width: 767px) {
	.portfolio div {
		margin:0;
	}
	.modal-page .close span {
		top:25px;
		right:35px;
	}
	.modal__header{
		padding: 44px 40px;
		width: 100%;
		margin:0 auto;
	} 
	.modal__header h1{
		font-size: 32px;
		line-height: 40px;
		width: 100%;
		margin-bottom:30px;
		padding-right: 30px;
	}
	.md-img-adapt {
		display: none;
	}
	
	.menu {
		display: block;
		z-index: 1000;
	}
	
	.sidebar {
		transform: translateX(-268px);
		transition: 0.3s;
		z-index: 3;

	}
	
	.active {
		transform: translateX(0px)!important;
		transition: 0.3s;
	}
	
	.header {
		display: none;
	}
	
	.header__logo {
		display: block;
		
        z-index: 1;
	}
	.portfolio-main-wrapper .header__logo {
		position: absolute;
	}
	.main-wrapper {
		width: 100%;
	}
	
	.map {
		padding-right: 0;
	}
}
@media screen and (max-width: 574px) {
	.adaptive-box{
		margin:0!important;
	}
}
@media screen and (max-width: 600px) {
    .contacts__block {
    	padding:0 40px 50px;
    }

	.services p{
		margin-left:0;
	}
}
@media screen and (max-width: 500px) {
	.hero__slide{
		padding:100px 20px;
	}
	.hero-slider {
		padding:0;
	}
	.contacts__block h1{
		font-family: 'Museo Sans Cyrl 500';
		font-size: 36px;
        line-height: 44px;
	}
	.contacts__block h2{display: none}
	.contacts__block{

	}
	.who-we-are {
		padding: 0 15px 0 15px;
	}
	
	.advantages {
		padding: 0 15px 40px 15px;
	}
	
	.block-header {
		margin-left: 30px;
	    margin-top: 30px;
	}
	
	.main-form {
		padding: 40px 15px 40px 15px;
	}
}
@media screen and (max-width: 410px) {
	.services {
		text-align: center;
	}
	.location{
		max-width: 300px;
	}
}
@media screen and (max-width: 360px) {
	.filter {
		padding:0 15px;
		    display: flex;
    flex-direction: column;
	}
	.gallery{
		padding:0 10px;
	}
	.hero-slider {
		margin-top:0px!important;
	}
	.hero {
		margin-top:0px!important;
	}

	.modal__header{
		padding: 44px 20px;
		width: 100%;
		margin:0 auto;
	} 
	.choose-service {
    padding: 0 20px;
}
	.modal-page .close span {
		top:5px;
		right:15px;
	}
	.modal-form {
		padding: 15px;
	}
	.services-hero{
		margin-top:100px;
		padding-bottom:50px;
	}
	
	
	.services__item {
		margin: 10px 0px;
	}
	
	.hero-slider {
		margin-top: 70px;
	}
	
	.hero-slider h1 {}
	
	.block-header {
		margin-left: 30px;
	}
	
	.who-we-are form {
		width: auto;
	}
	
	.location {
		left: 5px;
	}
	
	.who-we-are input {
		width: 170px;
	}
	
	.header__logo {
		font-size: 40px;
		line-height: 48px;
		z-index: 1;
	}
	
	.hero {
		margin-top: 80px;
	}
	
    .hero h2 {
		font-size: 24px;
		line-height: 28px;
		max-width: 200px;
		
	}
    .hero__h2{
        margin:10px auto 20px!important;
    }
	
	.hero h1 {
		margin-top: 10px;
		margin-bottom: 50px;
		font-size: 40px;
		line-height: 48px;
		max-width: 300px;
	}
	
	.hero button {
		margin-top: 40px;
	}
	
	.hero a {
		margin-top: 70px;
		margin-bottom: 40px;
	}
	
	.startscreen {
		height: auto;
	}
}

@media screen and (max-height: 900px) {
	.sidebar__nav {
		margin-bottom: 100px;
	}
	
	.sidebar__input {
		margin-bottom: 30px;
	}
	
	.sidebar__button {
		margin-bottom: 90px;
	}
}
@media screen and (max-height: 800px) {
	.sidebar__nav {
		margin-bottom: 60px;
	}
	.sidebar__button {
		margin-bottom: 50px;
	}
}
@media screen and (max-height: 700px) {
	
	.sidebar__socials{
		margin-bottom:30px;
	}

}
@media screen and (max-height: 600px) {
	.sidebar footer{
		display: none;
	}
	.sidebar__form{
		margin-bottom:30px;
	}
}
